<div class="container">
	<h2 class="title is-2">Search Issues</h2>

 <div class="level">
		<div class="level-left">
			<div class="level-item">
				<input id="series" type="text" class="input" placeholder="Search Query" />
			</div>
			<div class="level-item">
				<button class="button is-primary">Search</button>
			</div>
		</div>
	</div> 
</div>