<div class="container">
	<h2 class="title is-2">Search Issues</h2>

	<div class="block">
		<%= form_tag "/issues/search" do %>
			<%= text_field_tag "query" %>
			<%= submit_tag "Search" %>
		<% end %>
	</div>
</div> 