<div class="home">
	<div class="section">
	 	<div class="container">
		 	<div class="block">
			<h1 class="title">Comic DB</h1>
			<h2 class="subtitle">Keep track of your comic books!</h2>
			</div>
			<% if !Current.user %>
				<div class="block">
					<p>
						<%= link_to 'Sign in', sign_in_path %>
						or
						<%= link_to 'Sign Up', sign_up_path %>
					</p>
				</div>
			<% else %>
				<div class="block">
					<a href="/series/new" class="button is-primary">
						<span class="icon">
							<i class="fas fa-arrow-right"></i>
						</span>
						<span>New Series</span>
					</a>
					<a href="/issue/new" class="button is-primary">
						<span class="icon">
							<i class="fas fa-arrow-right"></i>
						</span>
						<span>New Issue</span>
					</a>
				</div>
			<% end %>
		</div>
	</div>
</div>